@font-face {
  font-family: 'Calluna';
  font-style: normal;
  font-weight: normal;
  src: url('Calluna-regular.woff') format('woff');
}

html {
  background: linear-gradient( 135deg, #446c37 25%, transparent 25%) 3em 0,
              linear-gradient(-135deg, #446c37 25%, transparent 25%) 3em 0,
              linear-gradient( -45deg, #446c37 25%, transparent 25%),
              linear-gradient(  45deg, #446c37 25%, transparent 25%);
  background-color: #4b733d;
  background-size: 6em 6em;
}

body {
  color: #ddd;
  font: 1.2em 'Calluna', serif;
  line-height: 1.2;
  margin: 0;
  text-align: justify;
}

@media (max-width: 320px) { div { width: 320px; } }
@media (min-width: 321px) { div { width: 100% ; } }
@media (min-width: 640px) { div { width: 640px; } }

div {
  margin: 0 auto;
}

header {
  text-align: center;
}

footer {
  font-size: 0.9rem;
  text-align: center;
}

img { 
  border: 2px solid #ddd;
  border-radius: 0.5em;
  width: calc(100% - 4px);
}

h1, h2 {
  color: white;
  font-weight: normal;
  margin: 0.7em 0 0.2em; 
  text-align: center;
  text-shadow: 1px 1px 0 #999,
               2px 2px 0 #ccc,
               0.075em 0.075em 0.16em black;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 2.8rem;
}

hr {
  border: 0;
  background: linear-gradient(to right, #4b733d, #ddd 15%, #ddd 85%, #4b733d);
  background-color: #ddd;
  height: 2px; 
}
